apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx-app
  ports:
    - name: http
      port: 95          # Service port (inside cluster)
      targetPort: 80    # Container port (nginx)
  type: ClusterIP
